[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/mobilecodereviewer
[access "refs/for/refs/*"]
	read = group user/mobilecodereviewer
	push = group user/mobilecodereviewer
	label-Code-Review = -2..+2 group user/mobilecodereviewer
	label-Verified = -1..+1 group user/mobilecodereviewer
	rebase = group user/mobilecodereviewer
	removeReviewer = group user/mobilecodereviewer
	submit = group user/mobilecodereviewer
[access "refs/heads/*"]
	read = group user/mobilecodereviewer
	create = group user/mobilecodereviewer
	push = +force group user/mobilecodereviewer
	pushMerge = group user/mobilecodereviewer
[access "refs/tags/*"]
	push = +force group user/mobilecodereviewer
	pushTag = group user/mobilecodereviewer
	pushSignedTag = group user/mobilecodereviewer
