<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.edu.agh.mobilecodereviewer">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="pl.edu.agh.mobilecodereviewer.app.MobileCodeReviewerApplication"
        android:allowBackup="true"
        android:icon="@drawable/launcher_icon"
        android:label="@string/pl.agh.edu.mobilecodereviewer.title"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".view.activities.Configuration"
            android:label="@string/pl.agh.edu.mobilecodereviewer.title" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="pl.edu.agh.mobilecodereviewer.view.activities.ChangesExplorer"
            android:label="@string/pl.agh.edu.mobilecodereviewer.ChangesExplorer.title"
            android:parentActivityName="pl.edu.agh.mobilecodereviewer.view.activities.Configuration" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pl.edu.agh.mobilecodereviewer.view.activities.Configuration" />
        </activity>
        <activity
            android:name="pl.edu.agh.mobilecodereviewer.view.activities.ChangeDetails"
            android:label="@string/pl.agh.edu.mobilecodereviewer.ChangeDetails.title"
            android:parentActivityName="pl.edu.agh.mobilecodereviewer.view.activities.ChangesExplorer" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pl.edu.agh.mobilecodereviewer.view.activities.ChangesExplorer" />
        </activity>
        <activity
            android:name=".view.activities.ModifiedFilesTab"
            android:parentActivityName="pl.edu.agh.mobilecodereviewer.view.activities.ChangeDetails" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pl.edu.agh.mobilecodereviewer.view.activities.ChangesExplorer" />
        </activity>
        <activity
            android:name=".view.activities.ChangeInfoTab"
            android:parentActivityName="pl.edu.agh.mobilecodereviewer.view.activities.ChangeDetails" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pl.edu.agh.mobilecodereviewer.view.activities.ChangesExplorer" />
        </activity>
        <activity
            android:name=".view.activities.CommitMessageTab"
            android:parentActivityName="pl.edu.agh.mobilecodereviewer.view.activities.ChangeDetails" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pl.edu.agh.mobilecodereviewer.view.activities.ChangesExplorer" />
        </activity>
        <activity
            android:name=".view.activities.ChangeMessagesTab"
            android:parentActivityName="pl.edu.agh.mobilecodereviewer.view.activities.ChangeDetails" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pl.edu.agh.mobilecodereviewer.view.activities.ChangesExplorer" />
        </activity>
        <activity
            android:name=".view.activities.ReviewersTab"
            android:parentActivityName="pl.edu.agh.mobilecodereviewer.view.activities.ChangeDetails" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pl.edu.agh.mobilecodereviewer.view.activities.ChangesExplorer" />
        </activity>
        <activity
            android:name="pl.edu.agh.mobilecodereviewer.view.activities.SourceExplorer"
            android:label="@string/pl.agh.edu.mobilecodereviewer.SourceExplorer.title"
            android:parentActivityName=".view.activities.ModifiedFilesTab" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pl.edu.agh.mobilecodereviewer.view.activities.ModifiedFiles" />
        </activity>
    </application>

</manifest>
